.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.emoji {
  position: relative;
  background-color: black;
  font-size: 1.5rem;
  color: #ffff00c8;
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.picker-wrapper {
  position: absolute;
  bottom: calc(100% + 10px);
  /* right: 0; */
}
